items assets kind software-package url https://qdhw6.leaderhero.com/new2/20200423/reBrawl_v25.96-48_os9.0__200423141031_tongbu_pandahelp.vip.ipa kind full-size-image needs-shine url https://im5.tongbu.com/userapp/AppIcon/201908/15/011815515.jpg kind display-image needs-shine url https://im5.tongbu.com/userapp/AppIcon/201908/15/011815515.jpg metadata bundle-identifier com.rebrawl.ios bundle-version 25.96-48 kind software subtitle 同步网络 title Brawl Stars Private Server Hack(25.96-48)