items assets kind software-package url https://cdn.appvalley.vip/appValley-ipa/303.ipa kind full-size-image needs-shine url https://is5-ssl.mzstatic.com/image/thumb/Purple125/v4/28/7d/7c/287d7c22-bb5c-d44f-d95b-bb80093aaf4d/AppIcon-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-6.png/246x0w.jpg kind display-image needs-shine url https://is5-ssl.mzstatic.com/image/thumb/Purple125/v4/28/7d/7c/287d7c22-bb5c-d44f-d95b-bb80093aaf4d/AppIcon-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-6.png/246x0w.jpg metadata bundle-identifier appstore bundle-version 1 kind software title После установки перейдите: Настройки - Основные - Управление устройством - Добавить» «Установка принадлежит каналу @TheAppBox