items assets kind software-package url http://www.cokernutx.com/ipa/vbk-resigned.ipa kind full-size-image needs-shine url https://is5-ssl.mzstatic.com/image/thumb/Purple113/v4/36/19/88/36198854-452e-784c-ec0e-d279e8ba845f/AppIcon-0-0-1x_U007emarketing-0-0-0-5-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/246x0w.png kind display-image needs-shine url https://is5-ssl.mzstatic.com/image/thumb/Purple113/v4/36/19/88/36198854-452e-784c-ec0e-d279e8ba845f/AppIcon-0-0-1x_U007emarketing-0-0-0-5-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/246x0w.png metadata bundle-identifier appstore bundle-version 1 kind software title Царский ВК 👑